body{
  background:#AFEEEE;
  color:#333;
  width:100%;
  font-family:GEORGIA;
  margin:0 auto;
}

.header{
  width:90%;
  margin:auto;
  height:120px;
  line-height:120px;
  background: #173F5F;
  color:#fff;
}

.jarak{
  padding:0 2pc;
}



















